analytics_platform:
  target: dev
  outputs:
    dev:
      type: postgres
      host: ${WAREHOUSE_DB_HOST}
      user: ${WAREHOUSE_DB_USER}
      password: ${WAREHOUSE_DB_PASSWORD}
      port: ${WAREHOUSE_DB_PORT}
      dbname: ${WAREHOUSE_DB_NAME}
      schema: analytics
      threads: 4
      keepalives_idle: 0
